body {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

div#main {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

h1 {
  border-bottom: solid 3px black;
}

table {
  border-collapse: collapse;
}

table th {
  border-width: 1px 0px;
  border-color: black;
  background: lightgray;
}

table td {
  border-width: 1px 0px;
  border-color: black;
}