div#main {
  width: 80%;
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  border: solid 1px gray;
}

.version {
  text-align: right;
  color: gray;
}

h1 {
  border-bottom: solid 3px black;
}

table {
  width: 50%;
  border-collapse: collapse;
}

table th {
  border-width: 1px 0px;
  border-color: black;
  background: lightgray;
}

table td {
  border-width: 1px 0px;
  border-color: black;
  text-align: right;
}

p.nopadding {
  line-height: 0;
}

a.btn {
  border: 2px solid black;
  border-radius: 0;
  background: white;
}

a.btn:hover {
  color: white;
  background: black;
}

a.bRed {
  border: 2px solid red;
  background: white;
  padding: 0rem 0.2rem;
}

a.bRed:hover {
  background: red;
  padding: 0rem 0.2rem;
}

a.bBlue {
  border: 2px solid blue;
  background: white;
  padding: 0rem 0.2rem;
}

a.bBlue:hover {
  background: blue;
  padding: 0rem 0.2rem;
}
